@import "~@tabler/core/src/scss/config";
@import "~bootstrap/scss/bootstrap";

@import "~@tabler/core/src/scss/fonts/webfonts";

@import "~@tabler/core/src/scss/layout/core";
@import "~@tabler/core/src/scss/layout/navbar";
@import "~@tabler/core/src/scss/layout/page";
@import "~@tabler/core/src/scss/layout/footer";
@import "~@tabler/core/src/scss/layout/dark";

@import "~@tabler/core/src/scss/ui/accordion";
@import "~@tabler/core/src/scss/ui/alerts";
@import "~@tabler/core/src/scss/ui/avatars";
@import "~@tabler/core/src/scss/ui/badges";
@import "~@tabler/core/src/scss/ui/breadcrumbs";
@import "~@tabler/core/src/scss/ui/buttons";
@import "~@tabler/core/src/scss/ui/calendars";
@import "~@tabler/core/src/scss/ui/cards";
@import "~@tabler/core/src/scss/ui/close";
@import "~@tabler/core/src/scss/ui/dropdowns";
@import "~@tabler/core/src/scss/ui/empty";
@import "~@tabler/core/src/scss/ui/grid";
@import "~@tabler/core/src/scss/ui/icons";
@import "~@tabler/core/src/scss/ui/images";
@import "~@tabler/core/src/scss/ui/forms";
@import "~@tabler/core/src/scss/ui/forms/form-icon";
@import "~@tabler/core/src/scss/ui/forms/form-colorinput";
@import "~@tabler/core/src/scss/ui/forms/form-imagecheck";
@import "~@tabler/core/src/scss/ui/forms/form-selectgroup";
@import "~@tabler/core/src/scss/ui/forms/form-custom";
@import "~@tabler/core/src/scss/ui/forms/form-check";
@import "~@tabler/core/src/scss/ui/forms/validation";
@import "~@tabler/core/src/scss/ui/legend";
@import "~@tabler/core/src/scss/ui/lists";
@import "~@tabler/core/src/scss/ui/loaders";
@import "~@tabler/core/src/scss/ui/login";
@import "~@tabler/core/src/scss/ui/modals";
@import "~@tabler/core/src/scss/ui/nav";
@import "~@tabler/core/src/scss/ui/stars";
@import "~@tabler/core/src/scss/ui/pagination";
@import "~@tabler/core/src/scss/ui/popovers";
@import "~@tabler/core/src/scss/ui/progress";
@import "~@tabler/core/src/scss/ui/ribbons";
@import "~@tabler/core/src/scss/ui/markdown";
@import "~@tabler/core/src/scss/ui/steps";
@import "~@tabler/core/src/scss/ui/switch-icon";
@import "~@tabler/core/src/scss/ui/tables";
@import "~@tabler/core/src/scss/ui/toasts";
@import "~@tabler/core/src/scss/ui/toolbar";
@import "~@tabler/core/src/scss/ui/type";
@import "~@tabler/core/src/scss/ui/charts";
@import "~@tabler/core/src/scss/ui/offcanvas";

@import "~@tabler/core/src/scss/utils/background";
@import "~@tabler/core/src/scss/utils/colors";
@import "~@tabler/core/src/scss/utils/scroll";
@import "~@tabler/core/src/scss/utils/sizing";
@import "~@tabler/core/src/scss/utils/opacity";
@import "~@tabler/core/src/scss/utils/shadow";
@import "~@tabler/core/src/scss/utils/text";

@import "~@tabler/core/src/scss/debug";
