// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";

// Tabler
@import "tabler";
@import 'sweetalert2/src/sweetalert2.scss';

// Custom
@import "custom";
