.main-section {
  @apply p-6;
}

.dropdown {
  @apply cursor-pointer;
}

.clipped, .clipped body {
  @apply overflow-hidden;
}

.m-clipped, .m-clipped body {
  @apply overflow-hidden lg:overflow-visible;
}

.form-screen body {
  @apply p-0;
}

.form-screen .main-section {
  @apply flex h-screen items-center justify-center;
}
